/*
 * CodePress color styles for Ruby syntax highlighting
 */

b {color:#7F0055;font-weight:bold;} /* reserved words */
i, i b, i s, i em, i a, i u {color:gray;font-weight:normal;} /* comments */
s, s b, s a, s em, s u {color:#CC0066;font-weight:normal;} /* strings */
a {color:#006700;font-weight:bold;} /* variables */
em {color:#559933;font-weight:bold;} /* functions */
u {font-weight:bold;} /* special chars */
